<div class="panel panel-default">
    <div class="panel-heading text-center"><h4>Détails compteur</h4></div>
    <div class="form-group">
        <label class="control-label col-4">ID compteur</label>
        <label class="col-7" id="id_compteur"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Numéro compteur</label>
        <label class="col-7" id="num_compteur"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Pointeur</label>
        <label class="col-7" id="pointeur"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Etat compteur</label>
        <label class="col-7" id="etatCompteur"></label>
    </div>
    <div id="statusMsg" class="col-11 align-block-center"> </div>
    <div class="margin-20px clearfix align-content-center">
        <a id="lien_compteur" href="compteurs/modifier/" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Modifier </a>
    </div>
    <div class="margin-20px clearfix align-content-center">
        <a href="compteurs" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Retour </a>
    </div>
</div>