<div class="panel panel-default resp-col-8 align-block-center">
    <div class="panel-heading text-center"><h4>Détails Facture</h4></div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Facture</label>
        <label class="col-4 col-offset-1" id="facture"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Consommation</label>
        <label class="col-4 col-offset-1" id="consommation"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Montant</label>
        <label class="col-4 col-offset-1" id="montant"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Consommation jusqu'au</label>
        <label class="col-4 col-offset-1" id="dateConso"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Date Facturation</label>
        <label class="col-4 col-offset-1" id="dateFacturation"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Date limite paiement</label>
        <label class="col-4 col-offset-1" id="dateLimitePaiement"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4 col-offset-2">Montant à payé</label>
        <label class="col-4 col-offset-1" id="montant2"></label>
    </div>
    <div id="payForm"></div>
    <div class="margin-20px clearfix align-content-center">
        <a href="reglements" class="btn btn-primary"><i class="glyphicon glyphicon-backward"></i> Retour </a>
    </div>
</div>