<div class="resp-col-8 align-block-center panel panel-default padding-v-2pc margin-b-2pc">
    <div class="margin-2pc">
        <h2 class="align-content-center">MySQL Database Entities Generator</h2>
        <h3 class="align-content-center">This utility performs  a source code generation of PHP Classes from MySQL tables </h3>
        <div class="margin-t-20px panel-body align-content-center">
            <form method="POST">
                <button type="submit" name="generate_entities" class="btn btn-success col-3 align-block-center">
                    <span class="glyphicon glyphicon-wrench"></span> Generate classes
                </button>
            </form>
            <div id="statusMsg" class="col-8 align-block-center align-content-center margin-v-20px"></div>
        </div>
        <div class="col-12 padding_3pc" id="statusVerbose" name="results" style="border:1px solid; border-radius:10px"></div>
    </div>
    <div class="align-content-center">
        <a href="installer" class="btn btn-default margin-t-5pc">Retour</a>
    </div>
</div>