<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Fusion Framework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/fusion.css">
        <script src="assets/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="panel panel-default align-content-center">
            <div class="panel-heading padding-v-3pc"><h1>Gestion des erreurs</h1></div>
            <div class="resp-col-6 align-block-center panel panel-default padding-v-5pc margin-b-5pc">
                <h4 class="alert alert-danger" id="errorMsg"></h4>
                <a href="./" class="btn btn-default margin-t-5pc">Retour</a>
            </div>
        </div>
    </body>
</html>
