<div class="panel panel-default">
    <div class="panel-heading text-center"><h4>Détails chef de village</h4></div>
    <div class="form-group">
        <label class="control-label col-4">Identifiant</label>
        <label class="col-7" id="id"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Nom de famille</label>
        <label class="col-7" id="nomFamille"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Village</label>
        <label class="col-7" id="village"></label>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Téléphone</label>
        <label class="col-7" id="telephone"></label>
    </div>
    <div id="statusMsg" class="col-11 align-block-center"> </div>
    <div class="margin-20px clearfix align-content-center">
        <a id="lien_client" href="clients/modifier/" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Modifier </a>
    </div>
    <div class="margin-20px clearfix align-content-center">
        <a href="clients" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Retour </a>
    </div>
</div>
